<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @orders_product.product %>
</p>

<p>
  <strong>order:</strong>
  <%= @orders_product.order %>
</p>

<%= link_to 'Edit', edit_orders_product_path(@orders_product) %>
<%= link_to 'Back', orders_products_path %>
